body {
    background-color: #b38f2c;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
}

#slogan {
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

ul {
    text-align: center;
    list-style-type: none;

}

footer {
    text-align: center;
}